@import '../../variables/viewportWidth.scss';

@mixin dev-global-media-schems() {
    position: relative;

    &::before {
        width: 100%;
        height: 0px;
        position: fixed;
        left: 0;
        bottom: 0;
        border-top: 5px solid;
        opacity: 0.4;
        border-image: linear-gradient(to right, 
            red 0%, 
            red $mobile_320px, 
            blue $mobile_320px + 1px, 
            blue $mobile_400px, 
            green calc($mobile_400px + 1px), 
            green $mobile_480px, 
            yellow calc($mobile_480px + 1px), 
            yellow $mobile_767px,
            rgb(30, 0, 255) $tablet_768px,
            rgb(30, 0, 255) $tablet_912px,
            rgb(255, 0, 51) calc($tablet_912px + 1px),
            rgb(255, 0, 51) $tablet_1024px,
            rgb(21, 76, 187) calc($tablet_1024px + 1px),
            rgb(21, 76, 187) $tablet_1279px,
            rgb(83, 83, 83) $desctop_1280px,
            rgb(83, 83, 83) $desctop_1600px,
            rgb(62, 187, 30) calc($desctop_1600px + 1px),
            rgb(62, 187, 30) $desctop_1920px,
            rgb(187, 30, 30) calc($desctop_1920px + 1px),
            ) 1;
    
    }

    @media (max-width: $mobile_320px) {

        // mobile_1
       
    }

    @media (min-width: calc($mobile_320px + 1px)) and (max-width: $mobile_400px) {

        // mobile_2
      
    }


    @media (min-width: calc($mobile_400px + 1px)) and (max-width: $mobile_480px) {

        // mobile_3
        
    }

    @media (min-width: calc($mobile_480px + 1px)) and (max-width: $mobile_767px) {

        // mobile_4
        
    }

    @media (min-width: $tablet_768px) and (max-width: $tablet_912px) {

        // tablet_1
       
    }

    @media (min-width: calc($tablet_912px + 1px)) and (max-width: $tablet_1024px) {

        // tablet_2
        
    }

    @media (min-width: calc($tablet_1024px + 1px)) and (max-width: $tablet_1279px) {

        // tablet_3
        
    }

    @media (min-width: $desctop_1280px) and (max-width: $desctop_1600px) {

        // desctop_1
       
    }

    @media (min-width: calc($desctop_1600px + 1px)) and (max-width: $desctop_1920px) {

        // desctop_2
       
    }

    @media (min-width: calc($desctop_1920px + 1px)) {

        // desctop_3
       
    }

}