:root {
    --text-scale-ratio: 1.2;
    --text-xs: calc((1rem / var(--text-scale-ratio)) / var(--text-scale-ratio));
    --text-sm: calc(1rem / var(--text-scale-ratio));
    --text: 1rem;
    --text-lg: calc(var(--text) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
}