$_0px: 0px;

// Mobile
$mobile_320px: 320px;
$mobile_400px: 400px;
$mobile_480px: 480px;
$mobile_767px: 767px;


// Tablet
$tablet_768px: 768px;
$tablet_912px: 912px;
$tablet_1024px: 1024px;
$tablet_1279px: 1279px;


// Desctop
$desctop_1280px: 1280px;
$desctop_1600px: 1600px;
$desctop_1920px: 1920px;