@import '../../variables/viewportWidth.scss';

@mixin font-size() {
    font-size: 16px;


    @media (max-width: $mobile_320px) {
        // mobile_1
        font-size: 14px;
       
    }

    @media (min-width: calc($mobile_320px + 1px)) and (max-width: $mobile_400px) {

        // mobile_2
        font-size: 14px;
      
    }


    @media (min-width: calc($mobile_400px + 1px)) and (max-width: $mobile_480px) {

        // mobile_3
        font-size: 14px;
        
    }

    @media (min-width: calc($mobile_480px + 1px)) and (max-width: $mobile_767px) {

        // mobile_4
        font-size: 14px;
        
    }

    @media (min-width: $tablet_768px) and (max-width: $tablet_912px) {

        // tablet_1
        font-size: 16px;
       
    }

    @media (min-width: calc($tablet_912px + 1px)) and (max-width: $tablet_1024px) {

        // tablet_2
        font-size: 16px;
        
    }

    @media (min-width: calc($tablet_1024px + 1px)) and (max-width: $tablet_1279px) {

        // tablet_3
        font-size: 16px;
        
    }

    @media (min-width: $desctop_1280px) and (max-width: $desctop_1600px) {

        // desctop_1
        font-size: 16px;
       
    }

    @media (min-width: calc($desctop_1600px + 1px)) and (max-width: $desctop_1920px) {

        // desctop_2
        font-size: 16px;
       
    }

    @media (min-width: calc($desctop_1920px + 1px)) {

        // desctop_3
        font-size: 18px;
       
    }

}